<!-- <link href="./assets/user-css/icons.css" rel="stylesheet" type="text/css">
<link href="./assets/user-css/core.css" rel="stylesheet" type="text/css">
<link href="./assets/user-css/components.css" rel="stylesheet" type="text/css">
<link href="./assets/user-css/pages.css" rel="stylesheet" type="text/css">
<link href="./assets/user-css/menu.css" rel="stylesheet" type="text/css">
<link href="./assets/user-css/responsive.css" rel="stylesheet" type="text/css"> -->

<!-- <link href="./assets/user-css/core.css" rel="stylesheet" type="text/css">
<link href="./assets/user-css/menu.css" rel="stylesheet" type="text/css"> -->


<div class="login-page-pad" style="background: #fff;">

    <!-- Top Bar Start -->
    <div class="">
        <div class="topbar-login top-headernavbar no-padding">
            <div class="container">

                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="javascript:void(0);" [routerLink]="['/user-login']" class="logo logo-big"><img src="assets/images/logo_sm.png"
                                alt="logo"></a>
                    </div>
                </div>

                <!-- Navbar -->
                <div class="navbar navbar-default service-navbar" role="navigation" style="display:flex !important;">
                    <div id="navigation" class="navbar-right-pad">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu topnav">

                            <li class="has-submenu active">
                                <a href="javascript:void(0);" [routerLink]="['/user-login']">
                                    Home
                                </a>

                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);" class="active" [routerLink]="['/sales']">
                                    <!--<i class="md md-assignment"></i> -->Sales</a>
                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);" [routerLink]="['/services']">
                                    <!--<i class="md md-view-carousel"></i>-->Services</a>

                            </li>
                            <li class="has-submenu">
                                <a href="javascript:void(0);" [routerLink]="['/support']">
                                    <!--<i class="md md-assignment"></i> -->Support</a>
                            </li>
                        </ul>
                        <!-- End navigation menu -->


                        <!-- <ul class="nav navbar-nav navbar-right">
        
                                    <li class="hidden-xs">
                                        <a href="javascript:void(0);" class="green-pad" target="_blank" [routerLink]="['/register-employee']">Enroll Now</a>
                                            
                                    </li>
                                    <li class="hidden-xs">
                                        <a href="javascript:void(0);" class="blue-pad" target="_blank" [routerLink]="['/register-company']">Create Account</a>
                                    </li>
                                </ul> -->
                    </div>
                    <!-- end #navigation -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <div class=" headerbanner-services">
            <div class="service_banner">
                <div class="container">
                    <div class="col-md-12">
                        <h1>THE MOST FLEXIBLE ENTERPRISE ASSET MANAGEMENT SYSTEM ON THE MARKET</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div>
        <!-- Start content -->

        <div class="container services_tab_container">
            <div class="col-md-12">
                <div class="title_box">
                    <h1>SALES</h1>
                </div>
            </div>
            <div class="col-md-12" style="height: 306px;">
                <p-card styleClass="ui-card-shadow">
                    <p>
                        If you have any question please contact customer sales at
                        <a style="color: deepskyblue; text-decoration: underline" href="mailto:Sales@Fathium.com">Sales@Fathium.com</a>
                        <br />
                        Sales hours, 9:00 am to 5:00 pm Mountain.
                    </p>
                </p-card>
            </div>
        </div>
        <!-- end content -->

        <!-- START carousel-->

        <!-- END carousel-->

        <footer class="footer text-right" style="left:0 !important; width:100%;">
            <div class="container">
                <div class="foot-left">
                    <p>Social Links</p>
                    <ul>
                        <li><a href="javascript:void(0);"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-rss-square"></i></a></li>
                    </ul>
                </div>
                <div class="foot-right">
                    <ul>
                        <li><a href="javascript:void(0);" [routerLink]="['/user-login']">Home</a></li> <span>|</span>
                        <li><a href="javascript:void(0);" [routerLink]="['/sales']">Sales</a></li> <span>|</span>
                        <li><a href="javascript:void(0);" [routerLink]="['/services']">Services</a></li> <span>|</span>
                        <li><a href="javascript:void(0);">Resources</a></li> <span>|</span>
                        <li><a href="javascript:void(0);">About Us</a></li> <span>|</span>
                        <li><a href="javascript:void(0);" [routerLink]="['/support']">Support</a></li>
                    </ul>
                    <div class="foot-btm">
                        Copyright &copy; 2018 IntellimodzTM | All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>