.tab1 {
    border-style: ridge;
    border-radius: 5px;
    border-width: thin;
    width: 320px;
    height: 120px;
}

.tab2 {
    border-style: ridge;
    border-radius: 5px;
    border-width: thin;
    width: 320px;
    height: 120px;
}

.buttontest {
    margin-left: 99px;
}

.toggle2 {
    float: right !important;
    margin-top: -15px !important;
}

.content {
    float: left;
}

.task2 {
    margin-top: -430px;
    float: right;
    margin-right: -20px;
}
 
.speardsheet-task {
    background: #f3f3f3 !important;
    margin: auto !important;
    height: 40px !important;
    border: solid 1px #cccccc !important;
}