<div class="login-page-pad" style="background: #fff;"><div class="login-page-pad" style="background: #fff;"></div>

        <!-- Top Bar Start -->
        <div class="">
            <div class="topbar-login top-headernavbar no-padding">
                <div class="container">
    
                    <!-- LOGO -->
                    <div class="topbar-left">
                        <div class="text-center">
                            <a href="javascript:void(0);"  [routerLink]="['/user-login']" class="logo logo-big">
                                <img src="assets/images/logo_sm.png" alt="logo">
                            </a>
                        </div>
                    </div>
    
                    <!-- Navbar -->
                    <div class="navbar navbar-default service-navbar" role="navigation" style="display:flex !important;">
                        <div id="navigation" class="navbar-right-pad">                    
                        </div>
                        <!-- end #navigation -->
                    </div>
                </div>
            </div>         
        </div>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
    
        <div>
            <!-- Start content -->
    
            <div class="services_tab_container">
                <!-- <p-growl [(value)]="msgs"></p-growl> -->
                <div class="col-md-12">
                    <div class="title_box">
                        <h4 style="color:#116bb0">FORGOT PASSWORD</h4>
                    </div>
                </div>
                <!-- One "tab" for each step in the form: -->
                <div *ngIf="showFrogotPwd == true">
                    <form [formGroup]="ForgotPwdForm" (ngSubmit)="onSubmitForgotPwd(ForgotPwdForm.value)" novalidate autocomplete="off">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>FORGOT PASSWORD</b>
                            </div>
    
                            <div class="panel-body">
                                <p-scrollPanel [style]="{width: '100%', height: '410px'}">
                                    <div style="padding:1em;line-height:1.5">
                                        <div class="ui-g ">                                          
                                            <div class="ui-g-12 ui-md-12 ui-lg-12">                                             
                                                <div class=" padding_1 card ui-g-6 ui-md-6">                                                 
                                                            <p-panel header="COMPANY DETAILS" styleClass="blue_panel customTitleBar">
                                                                <div class="row">
                                                                        <div class="col-lg-12 col-sm-12 col-md-12">
                                                                                <div class="form-group row">
                                                                                    <label for="lbl_user_name" class="col-sm-5 col-form-label required_label">New Password</label>
                                                                                    <div class="col-sm-12">
                                                                                        <input required formControlName="Password" class="form-control" type="text">
                                                                                    </div>
                                                                                </div>
                                                                            </div>      
                                                                            
                                                                            <div class="col-lg-12 col-sm-12 col-md-12">
                                                                              <div class="form-group row">
                                                                                  <label for="lbl_user_name" class="col-sm-5 col-form-label required_label">Conform Password</label>
                                                                                  <div class="col-sm-12">
                                                                                      <input required formControlName="ConfirmPassword" class="form-control" type="text">
                                                                                  </div>
                                                                              </div>
                                                                          </div>      
                                                                </div>
                                                            </p-panel>                                                     
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                </p-scrollPanel>
                                <div style="overflow:auto; margin-bottom:10px; margin-top:13px;">
                                    <div style="float:right;">
                                        <button type="submit" class="btn btn-sm btn-primary" id="companybtn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
                <div style="text-align:center;" id="router">
                    <!-- <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>               -->
                </div>
            </div>
            <!-- end content -->
    
            <!-- START carousel-->
    
            <!-- END carousel-->
    
            <footer class="footer text-right" style="left:0 !important; width:100%;">
                <div class="container">
                    <div class="foot-left">
                        <p>Social Links</p>
                        <ul>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-rss-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="foot-right">
                        <ul>
                            <li>
                                <a href="javascript:void(0);" [routerLink]="['/user-login']">Home</a>
                            </li>
                            <span>|</span>
                            <li>
                                <a href="javascript:void(0);" [routerLink]="['/services']">Services</a>
                            </li>
                            <span>|</span>
                            <li>
                                <a href="javascript:void(0);">Resources</a>
                            </li>
                            <span>|</span>
                            <li>
                                <a href="javascript:void(0);">About Us</a>
                            </li>
                            <span>|</span>
                            <li>
                                <a href="javascript:void(0);" [routerLink]="['/support']">Support</a>
                            </li>
                        </ul>
                        <div class="foot-btm">
                            Copyright &copy; 2018 IntellimodzTM | All Rights Reserved
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>